<h1 class="page-header">Zarejestruj się</h1>
{{#paper-form onSubmit=(action "createUser") as |form|}}
  {{form.input class="email" label="Email" value=this.user.email isTouched=user.emailErrors.length errors=user.emailErrors onChange=(action (mut this.user.email))}}
  {{form.input class="password" type="password" label="Hasło" value=user.password isTouched=user.passwordErrors.length errors=user.passwordErrors onChange=(action (mut this.user.password)) }}
  {{form.input class="re-password" type="password" label="Powtórz hasło" value=this.rePassword errors=this.rePasswordErrors onChange=(action (mut this.rePassword)) }}
  {{#form.submit-button class="submit-button" raised=true primary=true}}Zarejestruj się{{/form.submit-button}}
{{/paper-form}}
<p class="transition-wrapper">
  Jeżeli już posiadasz konto <LinkTo class="transition-link" @route="unauth.sign-in">Zaloguj się</LinkTo>
</p>